.chat-box {
  align-self: center;
  width: 700px;
  background-color: #000000;

  /* border: 1px solid #ccc; */
  overflow-y: hidden;
}
.messages {
  padding-bottom: 50px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.message.user {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.message.bot {
  background-color: #000000;
  text-align: left;
  align-self: left;
}


/* Tablet View (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .chat-box {
    width: 90%; /* Make chat-box responsive */
    background-color: #111111; /* Slightly change the background color for distinction */
    padding-bottom: 100px;
  }

  .message {
    padding: 8px; /* Adjust padding */
    margin: 3px 0; /* Reduce margin */
  }

  .message.user {
    background-color: rgba(0, 0, 0, 0.8); /* Increase transparency */
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.9); /* Slightly reduce shadow intensity */
  }

  .message.bot {
    background-color: #111111; /* Match the new chat-box color */
  }
}

/* Mobile View (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .chat-box {
    
    width: 100%;
    box-sizing: border-box; 
    background-color: #1a1a1a; /* Darker background color */
    padding: 10px; /* Add some padding to the sides */
    padding-bottom: 100px;
  }

  .message {
    padding: 0px; /* Smaller padding for compactness */
    margin: 0px; /* Reduce margin further */
    font-size: 14px; /* Adjust font size for readability */
  }

  .message.user {
    
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9); /* Increase transparency */
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.8); /* Reduce shadow intensity */
  }

  .message.bot {
    background-color: #1a1a1a; /* Match the new chat-box color */
  }
}
