#root {

    margin: auto;
    text-align: center;
    background-color: #13161b;
  }
  
  


.card {
    padding: 2rem;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
  }
  
  