.input-box {
  position: fixed;
  bottom: 0;
  width: 700px;
}

.message-input {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  justify-content: flex-end; /* Ensure button stays at the bottom */
  padding: 5px;
  background-color: #000000;
  border-top: 1px solid #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.message-input textarea {
  width: 100%;
  max-height: 200px;
  padding: 10px;
  border: 1px solid #020202;
  border-radius: 5px;
  margin-bottom: 10px; /* Add some margin between textarea and button */
  resize: none;
  overflow-y: hidden;
  flex-grow: 1; /* Allow the textarea to grow */
}

.message-input textarea:focus {
  outline: none;
  border-color: #000000;
}

.message-input button {
  height: 49px;
  align-self: flex-end; /* Keep the button aligned at the bottom */
  padding: 10px 20px;
  border: none;
  background-color: #08981d;
  margin-bottom: 10px; /* Add some margin between textarea and button */
  color: rgb(10, 10, 10);
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #47c25f;
}

/* Tablet View (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .input-box {
    width: 90%; 
  }

  .message-input textarea {
    height: auto;
    padding: 8px;

  }

  .message-input button {
    height: 40px;
    padding: 10px 15px;
  }
}

/* Mobile View (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .input-box {
    width: 100%; 
    padding: 0; 
    left: 0;
  }

  .message-input {
    padding: 10px; 
  }

  .message-input textarea {
    height: auto;
    padding: 10px;

  }

  .message-input button {
    width: 60px;
    height: 49px;
    padding: 10px 10px;
  }
}
