:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: rgba(195, 195, 195, 0.87);
  background-color: #000000;

}

body {
  height: 100%;
  display: flex;
  place-items: center;
  min-width: 320px;

  display: flex;
  justify-content: center; 
  align-items: center; 
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}
